*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
h1{
    font-size: 70px;
    background-color: rgb(139, 8, 190); 
    color: rgb(209, 228, 43);
    padding: 3%;
    border:none;
    margin: 0px;
    justify-content: center;
    width: 100%;
}
header{
    background-color: rgb(139, 8, 190);
    width: 30;
    padding: 0%;
    margin: 0px;
   
    
}
.tarjeta{
    background-color: aliceblue;
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
.tarjeta:hover{
    background-color:rgb(209, 228, 43); ;
}
.tarjeta3:hover{
    background-color:rgb(209, 228, 43); ;
}
.tarjeta h3{
    color: rgb(115, 19, 194);
    font-size: 25px;
}
.tarjeta p{
    color: rgb(96, 13, 204);
}
.tarjeta img{
    width: 100%;
}
.tarjeta button{
    background-color: blueviolet;
    color: aliceblue;
}
.tarjeta3 {
    background-color: aliceblue;
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.tarjeta3 h3{
    color: rgb(115, 19, 194);
    font-size: 24px;
}
.tarjeta3 p{
    color: rgb(96, 13, 204);
}
.tarjeta3 img{
    width: 100%;
}
.tarjeta3 button{
    background-color: blueviolet;
    color: aliceblue;
}
.tarjeta2 iframe{
    width: 100%;
    align-items: center;
    
}
.tarjeta2 {
    font-size: 24px;
    text-align: center;
    color:rgb(115, 19, 194) ;
}
.tarjetaTituloAlbum {
    font-size: 20px;
    text-align: center;
    color:rgb(115, 19, 194) ;
}
.footer img{
    width: 30px;
}
.main-index img{
    width: 100%;
    height: 800px;
    background-image: cover;
    background-attachment: fixed;
    align-items: center;
    
}
.main-texto ul{
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(248, 248, 247, 0.849);
    padding: 2%;
}
.main-texto2 ul{
    font-size: 19px;
    background-color:rgb(139, 8, 190);
    color:rgba(241, 241, 232, 0.781);
    font-style: oblique;
    padding: 3%;
}

.disco img{
    width: 300px;
}
.disco li{
    font-size: 19px;
    
    color:rgb(139, 8, 190);
    font-style: oblique;
}
.disco-songs {
    font-size: 25px;
    
    color:rgb(139, 8, 190);
    font-style: oblique;
}
.disco-tarjeta1{
    margin:10px

}
.galeria-tarjeta1{
    background-color: aliceblue;
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.main-galeria img{
    width: 300px;
}

.tituloBTS h1{
    text-align: center;
}
.tarjeta2 h1{
    text-align: center;
}
.h1discography h1{
    text-align: center;
}
.main-galeria h1{
    text-align: center;
}
.galeria-tarjeta1{
    background-color: aliceblue;
    width: 325px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.galeria-tarjeta2{
    background-color: aliceblue;
    width: 325px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.galeria-tarjeta3{
    background-color: aliceblue;
    width: 325px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.galeria-tarjeta4{
    background-color: aliceblue;
    width: 325px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.galeria-tarjetas{
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-evenly;
    grid-template-columns: 2fr 2fr 2fr 2fr;

}
.galeria-tarjeta1:hover{
    background-color:rgb(209, 228, 43); ;
}
.galeria-tarjeta2:hover{
    background-color:rgb(209, 228, 43); ;
}
.galeria-tarjeta3:hover{
    background-color:rgb(209, 228, 43); ;
}
.galeria-tarjeta4:hover{
    background-color:rgb(209, 228, 43); ;
}
.main-contact iframe{
    width: 400px;
}
.main-contact h1{
    text-align: center;
}
.contact-tarjeta{
    background-color: aliceblue;
    width: 800px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 22px;
    grid-template-columns: 1fr 2fr;

}
.contact-tarjetas{
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-evenly;
    grid-template-columns: 1fr 2fr;
}
.arriba{
    background-color:rgb(139, 8, 190) ;
    position: fixed;
    width: 100%;
    font-size: 25px;
}
.arriba ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.arriba ul li a{
    color: rgb(209, 228, 43);
    text-decoration: none;
    display: block;
    padding: 10px 20px

}

.resaltado{
    color: gold;
}
.btn-enviarform:active {
    color:gold;

}
.footer {
    color: rgb(209, 228, 43);
   text-decoration: underline;
   background-color: rgb(139, 8, 190);
   font-size: 25px;
   text-align: center;
}
.footer img{
    align-items: center;
}
@media(max-width:1200){
    .contact-tarjetas{
        grid-template-columns: 1fr;
    }
}

@media(max-width:1000){
    .galeria-tarjetas{
        grid-template-columns: 1fr;
    }
}
